In [7]:
import pandas as pd

In [4]:
p = %pwd

In [17]:
from pathlib import Path

In [18]:
p1 = Path()

In [19]:
datafile_path = p1 / "winequality-red.csv"

In [11]:
datafile_str = p + "\\winequality-red.csv"

In [20]:
datafile_path

WindowsPath('winequality-red.csv')

In [21]:
pd.read_csv(datafile_path).head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [15]:
pd.read_csv(datafile_str)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [1]:
from sklearn import datasets

In [5]:
wine = datasets.load_wine()

In [8]:
df = pd.DataFrame(data=wine.data, columns=wine.feature_names)

In [30]:
def square(x):
    return x**2

In [29]:
df.apply(lambda x: x**2)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,202.4929,2.9241,5.9049,243.36,16129.0,7.8400,9.3636,0.0784,5.2441,31.8096,1.0816,15.3664,1134225.0
1,174.2400,3.1684,4.5796,125.44,10000.0,7.0225,7.6176,0.0676,1.6384,19.1844,1.1025,11.5600,1102500.0
2,173.1856,5.5696,7.1289,345.96,10201.0,7.8400,10.4976,0.0900,7.8961,32.2624,1.0609,10.0489,1404225.0
3,206.4969,3.8025,6.2500,282.24,12769.0,14.8225,12.1801,0.0576,4.7524,60.8400,0.7396,11.9025,2190400.0
4,175.2976,6.7081,8.2369,441.00,13924.0,7.8400,7.2361,0.1521,3.3124,18.6624,1.0816,8.5849,540225.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,187.9641,31.9225,6.0025,420.25,9025.0,2.8224,0.3721,0.2704,1.1236,59.2900,0.4096,3.0276,547600.0
174,179.5600,15.2881,6.1504,529.00,10404.0,3.2400,0.5625,0.1849,1.9881,53.2900,0.4900,2.4336,562500.0
175,176.0929,18.3184,5.1076,400.00,14400.0,2.5281,0.4761,0.1849,1.8225,104.0400,0.3481,2.4336,697225.0
176,173.4489,6.7081,5.6169,400.00,14400.0,2.7225,0.4624,0.2809,2.1316,86.4900,0.3600,2.6244,705600.0
177,199.6569,16.8100,7.5076,600.25,9216.0,4.2025,0.5776,0.3136,1.8225,84.6400,0.3721,2.5600,313600.0

In [31]:
df.apply(square)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,202.4929,2.9241,5.9049,243.36,16129.0,7.8400,9.3636,0.0784,5.2441,31.8096,1.0816,15.3664,1134225.0
1,174.2400,3.1684,4.5796,125.44,10000.0,7.0225,7.6176,0.0676,1.6384,19.1844,1.1025,11.5600,1102500.0
2,173.1856,5.5696,7.1289,345.96,10201.0,7.8400,10.4976,0.0900,7.8961,32.2624,1.0609,10.0489,1404225.0
3,206.4969,3.8025,6.2500,282.24,12769.0,14.8225,12.1801,0.0576,4.7524,60.8400,0.7396,11.9025,2190400.0
4,175.2976,6.7081,8.2369,441.00,13924.0,7.8400,7.2361,0.1521,3.3124,18.6624,1.0816,8.5849,540225.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,187.9641,31.9225,6.0025,420.25,9025.0,2.8224,0.3721,0.2704,1.1236,59.2900,0.4096,3.0276,547600.0
174,179.5600,15.2881,6.1504,529.00,10404.0,3.2400,0.5625,0.1849,1.9881,53.2900,0.4900,2.4336,562500.0
175,176.0929,18.3184,5.1076,400.00,14400.0,2.5281,0.4761,0.1849,1.8225,104.0400,0.3481,2.4336,697225.0
176,173.4489,6.7081,5.6169,400.00,14400.0,2.7225,0.4624,0.2809,2.1316,86.4900,0.3600,2.6244,705600.0
177,199.6569,16.8100,7.5076,600.25,9216.0,4.2025,0.5776,0.3136,1.8225,84.6400,0.3721,2.5600,313600.0

In [37]:
def square(x: float):
    """Square a number.
        return x exponentiated to the power of 2
    """
    return x**2

In [36]:
print(square.__doc__)

Square a number

In [38]:
square.__annotations__

{'x': float}

In [34]:
df.apply(square)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,202.4929,2.9241,5.9049,243.36,16129.0,7.8400,9.3636,0.0784,5.2441,31.8096,1.0816,15.3664,1134225.0
1,174.2400,3.1684,4.5796,125.44,10000.0,7.0225,7.6176,0.0676,1.6384,19.1844,1.1025,11.5600,1102500.0
2,173.1856,5.5696,7.1289,345.96,10201.0,7.8400,10.4976,0.0900,7.8961,32.2624,1.0609,10.0489,1404225.0
3,206.4969,3.8025,6.2500,282.24,12769.0,14.8225,12.1801,0.0576,4.7524,60.8400,0.7396,11.9025,2190400.0
4,175.2976,6.7081,8.2369,441.00,13924.0,7.8400,7.2361,0.1521,3.3124,18.6624,1.0816,8.5849,540225.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,187.9641,31.9225,6.0025,420.25,9025.0,2.8224,0.3721,0.2704,1.1236,59.2900,0.4096,3.0276,547600.0
174,179.5600,15.2881,6.1504,529.00,10404.0,3.2400,0.5625,0.1849,1.9881,53.2900,0.4900,2.4336,562500.0
175,176.0929,18.3184,5.1076,400.00,14400.0,2.5281,0.4761,0.1849,1.8225,104.0400,0.3481,2.4336,697225.0
176,173.4489,6.7081,5.6169,400.00,14400.0,2.7225,0.4624,0.2809,2.1316,86.4900,0.3600,2.6244,705600.0
177,199.6569,16.8100,7.5076,600.25,9216.0,4.2025,0.5776,0.3136,1.8225,84.6400,0.3721,2.5600,313600.0

In [46]:
def double(x: float):
    """Double a number"""
    return x*2

In [40]:
double(2)

4

In [42]:
double("Test")

'TestTest'

In [43]:
double(["Test"])

['Test', 'Test']

In [44]:
double(["test1","test2"])

['test1', 'test2', 'test1', 'test2']

In [45]:
["abc"]*2

['abc', 'abc']

In [51]:
df.apply(double)/2

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [53]:
df * 2.5

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,35.575,4.275,6.075,39.00,317.5,7.000,7.650,0.700,5.725,14.10,2.600,9.800,2662.5
1,33.000,4.450,5.350,28.00,250.0,6.625,6.900,0.650,3.200,10.95,2.625,8.500,2625.0
2,32.900,5.900,6.675,46.50,252.5,7.000,8.100,0.750,7.025,14.20,2.575,7.925,2962.5
3,35.925,4.875,6.250,42.00,282.5,9.625,8.725,0.600,5.450,19.50,2.150,8.625,3700.0
4,33.100,6.475,7.175,52.50,295.0,7.000,6.725,0.975,4.550,10.80,2.600,7.325,1837.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,34.275,14.125,6.125,51.25,237.5,4.200,1.525,1.300,2.650,19.25,1.600,4.350,1850.0
174,33.500,9.775,6.200,57.50,255.0,4.500,1.875,1.075,3.525,18.25,1.750,3.900,1875.0
175,33.175,10.700,5.650,50.00,300.0,3.975,1.725,1.075,3.375,25.50,1.475,3.900,2087.5
176,32.925,6.475,5.925,50.00,300.0,4.125,1.700,1.325,3.650,23.25,1.500,4.050,2100.0
177,35.325,10.250,6.850,61.25,240.0,5.125,1.900,1.400,3.375,23.00,1.525,4.000,1400.0